<br>
<br>
<h1>Crooked Politics Portfolio</h1>

<div class="container">
  <%= form_tag politics_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find your politic here"%>
    <%= submit_tag "Search", class: "principal-button" %>
  <% end %>
</div>

  <ul>
  <% @politics.each do |politic| %>
    <li><%= link_to politic.name, politic_path(politic)%></li>
  <% end %>
  </ul>

<div class="containermap">
  <div class="politics_card">
  </div>

  <div class="mapbox" style="width: 50%; height: 300px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
