<br>
<br>
<br>
<br>
<br>
<br>
<h1>Index politic</h1>

<h1>Searching politics</h1>
<div class="container">
  <%= form_tag politics_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find your politic here"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="containermap">
  <div class="politics_card">
    <ul>
    <% @politics.each do |politic| %>
      <li><%= link_to politic.name, politic_path(politic), class: "secondary-button" %></li>
    <% end %>
    </ul>
  </div>

  <div class="mapbox" style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
