<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <h1>Vous êtes sur le profil de : <%= @politic.name %></h1>
    <div class="card-trip">
        <%= image_tag(@politic.picture, :alt => "rss feed", :size => "300x300" ) %>
    <div class="card-trip-infos">
        <div>
        <h2>Informations</h2>
        <p>Pays : <%= @politic.country %></p>
        </div>
        <%#= link_to "Réserver", politic_bookings_path(@politic, params: { booking: {bribe: "0", status: "pending"}}), method: :post, class: "btn btn-flat" %>
        <%= link_to "Réserver", new_politic_booking_path(@politic), class: "secondary-button" %>
    </div>
    </div>
</div>


<div class="container">
    <div class="card-trip">
    <div class="card-trip-infos">
        <div>
        <h4>Quelques mots sur moi</h4>
        <p><%= @politic.description %></p>
    </div>
    </div>
</div>


    <div class="card-trip">
    <div class="card-trip-infos">
        <div>
        <h4>Mes phrases cultes</h4>
        <p>* <%= @politic.first_stupid %></p>
        <p>* <%= @politic.second_stupid %></p>
        </div>
    </div>
    </div>





<% if @politic.user == current_user %>
  <%= link_to "Update your crooked politic",  edit_politic_path(@politic), class: "secondary-button" %>
  <%= link_to "Delete #{@politic.name}",
              politic_path(@politic),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
<% end %>
