


<div class="container" style="width:60%">
    <h1>Here is the profile of : <%= @politic.name %></h1>
    <div class="card-trip">
        <%= image_tag(@politic.picture, :alt => "rss feed", :size => "300x300" ) %>
    <div class="card-trip-infos">
        <div>
        <h2>Details</h2>
        <p>Country : <%= @politic.country %></p>
        </div>
        <%#= link_to "Réserver", politic_bookings_path(@politic, params: { booking: {bribe: "0", status: "pending"}}), method: :post, class: "btn btn-flat" %>
        <%= link_to "Book", new_politic_booking_path(@politic), class: "principal-button" %>
    </div>
    </div>
</div>
<br>

<div class="container" style="width:60%">
    <div class="card-trip">
    <div class="card-trip-infos">
        <div>
        <h4>Some about me</h4>
        <p><%= @politic.description %></p>
    </div>
    </div>
</div>

<br>
    <div class="card-trip">
    <div class="card-trip-infos" style="width:60%">
        <div>
        <h4>Catchphrases</h4>
        <p>* <%= @politic.first_stupid %></p>
        <p>* <%= @politic.second_stupid %></p>
        </div>
    </div>
    </div>


<br>


<% if @politic.user == current_user %>
  <%= link_to "Update your crooked politic",  edit_politic_path(@politic), class: "secondary-button" %>
  <%= link_to "Delete #{@politic.name}",
              politic_path(@politic),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: "delete-button" %>
<% end %>
