<br>
<br>
<br>
<br>
<br>
<br>
<h1>Show politic</h1>

<h2><%= @politic.name %></h2>
<p><%= @politic.country %></p>
<p><%= @politic.first_stupid %></p>

<% if @politic.user == current_user %>
  <%= link_to "Update your crooked politic",  edit_politic_path(@politic) %>
  <%= link_to "Delete #{@politic.name}",
              politic_path(@politic),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
<% end %>
