
<div class="container" style="width:60%">
    <h1>The bribe of <%= @politic.name %></h1>
    <div class="card-trip">
        <%= image_tag(@politic.picture, :alt => "rss feed", :size => "300x300" ) %>
    <div class="card-trip-infos">
        <div>
        <h2>Details</h2>
        <p>Country : <%= @politic.country %></p>
        </div>
        <%#= link_to "Réserver", politic_bookings_path(@politic, params: { booking: {bribe: "0", status: "pending"}}), method: :post, class: "btn btn-flat" %>
    </div>
    </div>
</div>
<br>

<div class="container" style="width:60%">


<br>
    <div class="card-trip">
    <div class="card-trip-infos" style="width:60%">
        <div>
        <h4>My Bribe</h4>
        <p>Status: <%= @booking.status %></p>
        <p>Amount: <%= @booking.bribe %></p>
        </div>
    </div>
    </div>


<br>

<% if @booking.user == current_user || @politic.user == current_user %>
  <%= link_to "Counter offer",  edit_booking_path(@booking), class: "secondary-button" %>
  <%= link_to "Delete the booking of #{@politic.name}",
              booking_path(@booking),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: "delete-button" %>
<% end %>

</div>