<br>
<br>
<br>
<br>
<br>
<br>
<h1>Show booking</h1>

<h2><%= @politic.name %></h2>
<p>Pays: <%= @politic.country %></p>
<p>Top phrase: <%= @politic.first_stupid %></p>
<p>Status: <%= @booking.status %></p>
<p>Bribe: <%= @booking.bribe %></p>

<% if @booking.user == current_user || @politic.user == current_user %>
  <%= link_to "Counter offer",  edit_booking_path(@booking) %>
  <%= link_to "Delete the booking of #{@politic.name}",
              booking_path(@booking),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
<% end %>
